* {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  color: rgb(245, 206, 11);
}

body,
html {
  min-height: 100vh;
  height: auto;
  background-image: url("../src/img/papel.png");
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  max-width: 100%;
}

button{
  font-weight: bold;
  font-size: 1.2rem;
  color: #fff;
  cursor: pointer;
  padding: .8rem 1.5rem;
  background: linear-gradient(
    90deg, 
    rgb(53, 138, 222) 0%,
    rgb(84, 168, 232) 100%
    );
  border-radius: 3rem;
  border: none;
}

button:hover{
  background: linear-gradient(
    90deg, 
    rgba(84, 168, 232) 0%,
    rgba(53, 138, 222) 100%
    );
}
