#gameover {
    text-align: center;
    max-width: 10%;
    display: flex;
    flex-direction: column;
  }
  
#gameover h2,
#gameover p {
    margin-bottom: 1rem;
}
  
#gameover p {
    color: #3587de;
}
  
.imagemfiz {
    margin-top: 2rem;
    width: 10px;
}

.botao {
    display: flex;
    flex-wrap: wrap;
}